<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xmlns="http://xmlns.jcp.org/xml/ns/javaee"
         xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd"
         version="3.1">
    <servlet>
        <servlet-name>classInfoServlet</servlet-name>
        <servlet-class>servlets.ClassInfoServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>classInfoServlet</servlet-name>
        <url-pattern>/classinfo</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>classroomUseInfoServlet</servlet-name>
        <servlet-class>servlets.ClassroomUseInfoServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>classroomUseInfoServlet</servlet-name>
        <url-pattern>/classroom</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>courseInfoServlet</servlet-name>
        <servlet-class>servlets.CourseInfoServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>courseInfoServlet</servlet-name>
        <url-pattern>/courseinfo</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>examInfoServlet</servlet-name>
        <servlet-class>servlets.ExamInfoServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>examInfoServlet</servlet-name>
        <url-pattern>/examinfo</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>instrutorServlet</servlet-name>
        <servlet-class>servlets.InstrutorServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>instrutorServlet</servlet-name>
        <url-pattern>/instrutor</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>studentServlet</servlet-name>
        <servlet-class>servlets.StudentServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>studentServlet</servlet-name>
        <url-pattern>/student</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>supervisorServlet</servlet-name>
        <servlet-class>servlets.SupervisorServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>supervisorServlet</servlet-name>
        <url-pattern>/supervisor</url-pattern>
    </servlet-mapping>
</web-app>